.Overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
  visibility: hidden;
  overflow: hidden;
}

.overplayVisible{
  visibility: visible;

  .Drawer{
    transform: translateX(0);

  }
}

.Drawer{
  position: absolute;
  padding: 30px;
  right: 0;
  width: 420px;
  height: 100%;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  .Items{
    flex: 1 ;
    overflow: auto;
    margin-bottom: 40px;
  }

  h2{
    margin: 0;
    font-size: 24px;
  }
}

.CartItem{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  .CartItemImg{
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }
  p{
    font-size:14px;
    margin: 0;
  }
  b{
    font-size:16px;
  }
  .RemoveBtn{
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    &:hover{
      opacity: 1;
    }
  }
}

.CartTotalBlock {
  ul {
    display: block;
    margin-bottom: 40px !important;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }

    div {
      flex: 1;
      height: 1px;
      border: 1px dashed #DFDFDF;
      position: relative;
      top: -4px;
      margin: 0 7px;
    }
  }
}

.GreenButton{
  position: relative;
  &:hover{
    img{
      transform: translateX(5px);
    }
  }
  img{
    position: absolute;
    right: 30px;
    top: 20px;
    transition: transform 0.15s ease-in-out;
  }
  width: 100%;
  height: 55px;
  background: #9DD458;
  border-radius: 18px;
  border: 0;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  &:hover{
    background: lighten($color: #9dd558, $amount: 5%);
  }
  &:active{
    background: darken(#9dd558, $amount: 5%);
  }
}
.GreenButton2{
  position: relative;
  &:hover{
    img{
      transform: translateX(-5px);
    }
  }
  img{
    position: absolute;
    left: 30px;
    top: 20px;
    transition: transform 0.15s ease-in-out;
  }
  width: 80%;
  height: 55px;
  background: #9DD458;
  border-radius: 18px;
  border: 0;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  &:hover{
    background: lighten($color: #9dd558, $amount: 5%);
  }
  &:active{
    background: darken(#9dd558, $amount: 5%);
  }
}